.pronostico-carousel {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 15px;
    scroll-snap-type: x mandatory;
}
  
.pronostico-carousel::-webkit-scrollbar {
    height: 8px;
}
  
.pronostico-carousel::-webkit-scrollbar-thumb {
    background-color: rgba(74, 144, 226, 0.8);
    border-radius: 10px;
}
  
.pronostico-dia-tarjeta {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-width: 200px;
    max-height: 10.8rem;
    overflow-y: auto;
    scroll-snap-align: center;
}
  
.pronostico-dia-tarjeta h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
  
.pronostico-dia-tarjeta::-webkit-scrollbar {
    width: 8px;
}
  
.pronostico-dia-tarjeta::-webkit-scrollbar-thumb {
    background-color: rgba(74, 144, 226, 0.8);
    border-radius: 10px;
}
  
.pronostico-entradas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
  
.pronostico-dia {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}